@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaCondensedBold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Fontfabric-MullerExtraBold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Fontfabric-MullerRegular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes animBackground {
  from {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  50% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
  }
  to {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
}
@keyframes animBackground {
  from {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  50% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
  }
  to {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
}
@-webkit-keyframes animBack {
  from {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
  50% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }
  to {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}
@keyframes animBack {
  from {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
  50% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }
  to {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}
@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes myopacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes myopacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Muller, Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
.cloud {
  overflow: hidden;
  position: relative;
  padding-bottom: 810px;
  height: 0;
  -webkit-background-size: cover;
  background-size: cover;
}
.cloud .cloud1 {
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.cloud .cloud2 {
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.cloud .cloud3 {
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.cloud .cloud4 {
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.cloud1 {
  -webkit-animation: animCloud 20s infinite linear;
  animation: animCloud 20s infinite linear;
}
.cloud2 {
  -webkit-animation: animCloud 40s infinite linear;
  animation: animCloud 40s infinite linear;
}
.cloud3 {
  -webkit-animation: animCloud 60s infinite linear;
  animation: animCloud 60s infinite linear;
}
.cloud4 {
  -webkit-animation: animCloud 80s infinite linear;
  animation: animCloud 80s infinite linear;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #aad5df), to(#fffcfc));
  background: -webkit-linear-gradient(#aad5df 30%, #fffcfc 100%);
  background: -o-linear-gradient(#aad5df 30%, #fffcfc 100%);
  background: linear-gradient(#aad5df 30%, #fffcfc 100%);
}
.main-nav {
  width: 1140px;
  padding-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.main-nav .scroll {
  display: block;
  position: absolute;
  top: 650px;
  left: 47%;
  width: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  line-height: 53px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: ProximaNova, Arial, sans-serif;
  color: #aaadb4;
}
.main-nav .scroll::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40px;
  width: 15px;
  height: 1px;
  background: #aaadb4;
}
.main-nav .main-manu {
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-nav .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.main-nav h1 {
  padding: 0;
  margin: 0;
  width: 595px;
  font-size: 140px;
  line-height: 140px;
  font-weight: 700;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
}
.main-manu .menu {
  margin-bottom: 70px;
}
.main-manu .line {
  margin-bottom: 30px;
}
.drawer-list {
  position: absolute;
  left: 25%;
  top: 20px;
  height: 30%;
  width: 15%;
  -webkit-transform: translate(-100vw, 0);
  -ms-transform: translate(-100vw, 0);
  transform: translate(-100vw, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 30px;
  -webkit-transition: width 475ms ease-out, -webkit-transform 450ms ease, -webkit-border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, -webkit-transform 450ms ease, -webkit-border-radius 0.8s 0.1s ease;
  -o-transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease, -webkit-border-radius 0.8s 0.1s ease;
  -webkit-border-bottom-right-radius: 100vw;
  border-bottom-right-radius: 100vw;
  background-color: rgba(122, 183, 240, 0.8);
}
.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translatex(-100vw);
  -ms-transform: translatex(-100vw);
  transform: translatex(-100vw);
}
.drawer-list li a {
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 10px;
  color: #333333;
  font-weight: 700;
}
.drawer-list li a:hover,
.drawer-list li a:focus {
  cursor: pointer;
  background-color: #88c2f8;
  background-color: rgba(17, 132, 240, 0.5);
  color: #FEFEFE;
}
.menu-input {
  display: none;
}
.menu-input:checked.menu-input ~ .drawer-list {
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.menu-input:checked.menu-input ~ .drawer-list li {
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
}
.menu-input:checked.menu-input ~ .drawer-list li:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.menu-input:checked.menu-input ~ .drawer-list li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.menu-input:checked.menu-input ~ .drawer-list li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.menu-input:checked.menu-input ~ .drawer-list li:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.menu-input:checked.menu-input ~ .drawer-list li a {
  padding-left: 50px;
}
.menu-input:checked.menu-input ~ label > i {
  -webkit-transform: translate(50%, -50%) rotate(135deg);
  -ms-transform: translate(50%, -50%) rotate(135deg);
  transform: translate(50%, -50%) rotate(135deg);
}
.menu-input:checked.menu-input ~ label > i:after {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu-input:checked.menu-input ~ label > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(270deg);
  -ms-transform: translate(-50%, -50%) rotate(270deg);
  transform: translate(-50%, -50%) rotate(270deg);
}
.menu-label {
  display: block;
  width: 50px;
  height: 50px;
}
.menu-label:hover,
.menu-label:focus {
  cursor: pointer;
}
.menu-label > i {
  position: absolute;
  content: "";
  width: 29px;
  height: 2px;
  background-color: #000;
  pointer-events: auto;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
  -webkit-transform-origin: 6px 12px;
  -ms-transform-origin: 6px 12px;
  transform-origin: 6px 12px;
  -webkit-transform: translate(7px, 24px);
  -ms-transform: translate(7px, 24px);
  transform: translate(7px, 24px);
}
.menu-label > i:after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(7px, 7px);
  -ms-transform: translate(7px, 7px);
  transform: translate(7px, 7px);
}
.menu-label > i:before {
  width: 29px;
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 22px -6px;
  -ms-transform-origin: 22px -6px;
  transform-origin: 22px -6px;
  -webkit-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  transform: translate(0, -7px);
}
.logo span {
  margin-top: 240px;
  font-size: 28px;
  line-height: 28px;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
}
.search {
  width: 250px;
  height: 80px;
  position: relative;
  right: 105px;
  overflow: hidden;
}
.search:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 18px;
  left: 10px;
  top: 25px;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.search-input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  position: absolute;
  z-index: 1;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: #000;
  letter-spacing: 0.3px;
  -webkit-transform-origin: 10%;
  -ms-transform-origin: 10%;
  transform-origin: 10%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
.search-button {
  position: absolute;
  padding-top: 6px;
  padding-bottom: 6px;
  right: 10px;
  bottom: 10px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search-button::-moz-focus-inner {
  border: 0;
}
.search-label {
  position: absolute;
  top: -10px;
  left: 15px;
  width: 200px;
  height: 67px;
  line-height: 95px;
  color: #000;
  letter-spacing: 0.3px;
  pointer-events: none;
  overflow: hidden;
}
.search-label div {
  white-space: pre;
}
.search-border {
  width: 6px;
  height: 3px;
  position: absolute;
  right: 7px;
  bottom: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #000;
  cursor: pointer;
}
.search-text {
  opacity: 0;
  pointer-events: none;
}
.search.edge:before {
  opacity: 1;
}
.search-close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 5;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.search-close.visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
input::-ms-clear {
  display: none;
}
.right-block {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.right-block .line {
  padding-left: 5px;
  margin-bottom: 10px;
}
.button-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
}
.button-social {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.button-social:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.7;
}
.icon {
  position: absolute;
  left: 20px;
  top: 20px;
}
.hidden {
  position: absolute;
  opacity: 0;
}
.hidden svg {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  vertical-align: middle;
  fill: #3f75c5;
}
.btn {
  background: rgba(0, 0, 0, 0);
}
.btn .icon {
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover .hidden,
.btn:focus .hidden {
  left: 15px;
  top: 20px;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.btn:hover .icon,
.btn:focus .icon {
  -webkit-transform: scale(10) rotate(90deg);
  -ms-transform: scale(10) rotate(90deg);
  transform: scale(10) rotate(90deg);
  opacity: 0;
}
main {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #fdfefd), color-stop(55%, #edeef0));
  background: -webkit-linear-gradient(#fdfefd 55%, #edeef0 55%);
  background: -o-linear-gradient(#fdfefd 55%, #edeef0 55%);
  background: linear-gradient(#fdfefd 55%, #edeef0 55%);
}
.promo-cite {
  position: relative;
  padding-bottom: 80px;
}
.promo-cite::after {
  content: "Digital";
  position: absolute;
  top: 80px;
  right: -25px;
  text-transform: uppercase;
  font-size: 170px;
  font-weight: 700;
  color: #abb0b3;
}
.promo {
  width: 1140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-promo {
  width: 550px;
  position: relative;
  padding-left: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-promo h2 {
  position: absolute;
  top: 40px;
  left: -40px;
  font-size: 40px;
  font-family: Muller, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.main-promo .text-down {
  margin-bottom: 20px;
  margin-top: 25px;
}
.main-promo::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 75px;
  width: 10px;
  height: 107px;
  background: url(../img/line.svg) 0 0 no-repeat;
}
.promo-item {
  width: 560px;
  margin-top: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  font-family: Muller, Arial, sans-serif;
  font-weight: 400;
  z-index: 1;
}
.promo-item p {
  margin: 0;
  text-transform: lowercase;
}
.promo-item .text {
  font-size: 28px;
  line-height: 21px;
  font-family: Muller, Arial, sans-serif;
  font-weight: 700;
  top: 40%;
  left: 0px;
  width: 100%;
  position: absolute;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.promo-item .text span {
  display: inline-block;
  letter-spacing: 5px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  text-shadow: 0px 0px 0px #558B2F;
  position: relative;
  top: 0px;
  left: 0px;
  cursor: default;
}
.promo-item .text span:hover,
.promo-item .text span:focus {
  text-shadow: -8px 8px 0px #558B2F;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: -8px;
  left: 8px;
}
.promo-item .text span.space {
  width: 20px;
  height: 100%;
}
.promo-item .cart {
  position: relative;
  width: 280px;
  padding-top: 50px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 100px;
  background: #fff url(../img/icon.png) 15% 50% no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 32px 0px rgba(49, 58, 73, 0.16);
  box-shadow: 0px 10px 32px 0px rgba(49, 58, 73, 0.16);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.promo-item .cart:hover {
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
  background: #a9d5df url(../img/icon.png) 15% 50% no-repeat;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.promo-item .cart:focus {
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
  background: #a9d5df url(../img/icon.png) 15% 50% no-repeat;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.promo-item .cart:active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-box-shadow: 0px 0px 0px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 0px 0px 0 rgba(41, 52, 73, 0.5);
  background: rgba(0, 0, 0, 0.05) url(../img/icon.png) 15% 50% no-repeat;
}
.button {
  position: relative;
  margin-left: 110px;
  padding: 10px;
  padding-top: 12px;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  text-decoration: none;
  color: #313a49;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  width: 192px;
  height: 40px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(12, 125, 156, 0.3);
}
.button:hover::after {
  left: 0;
  width: 230px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(12, 125, 156, 0.3);
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.button:focus::after {
  left: 40px;
  width: 195px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(12, 125, 156, 0.3);
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.button:active::after {
  left: 0;
  width: 230px;
  background: rgba(131, 194, 211, 0.3);
  -webkit-box-shadow: 0px 5px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 5px 10px 0 rgba(41, 52, 73, 0.5);
}
.button span {
  padding-left: 5px;
  font-weight: 400;
  text-transform: lowercase;
}
.button a {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal {
  display: none;
  position: relative;
  min-width: 660px;
  min-height: 450px;
  padding: 50px 80px;
  position: fixed;
  top: -webkit-calc(50% - 450px/2);
  top: calc(50% - 450px/2);
  left: -webkit-calc(50% - 660px/2);
  left: calc(50% - 660px/2);
  color: #000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  -webkit-animation: myopacity 1s;
  animation: myopacity 1s;
}
.modal::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 10px;
  height: 107px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url(../img/line.svg) 0 0 no-repeat;
}
.modal .block-socials {
  position: absolute;
  top: 0px;
  right: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-consultation {
  display: none;
  position: relative;
  min-width: 660px;
  min-height: 450px;
  padding: 50px 80px;
  position: fixed;
  top: -webkit-calc(50% - 450px/2);
  top: calc(50% - 450px/2);
  left: -webkit-calc(50% - 660px/2);
  left: calc(50% - 660px/2);
  color: #000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  -webkit-animation: myopacity 1s;
  animation: myopacity 1s;
}
.modal-name {
  text-align: center;
  margin-bottom: 20px;
}
.modal-name h2 {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
}
.modal-name .tel {
  margin-top: 20px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #106b80;
}
.modal-feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
}
.block-socials .line {
  margin-left: 5px;
}
.feedback-item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.feedback-item input {
  margin-top: 15px;
  padding: 15px;
  border: 2px solid #d7dcde;
}
.feedback-item input:hover,
.feedback-item input:focus {
  border: 2px solid #b4b9bb;
}
.feedback-item label {
  text-align: center;
}
.feedback-item input.empty-value-error::-webkit-input-placeholder {
  color: #f60a0a;
}
.feedback-item input.empty-value-error::-ms-input-placeholder {
  color: #f60a0a;
}
.feedback-item input.empty-value-error::placeholder {
  color: #f60a0a;
}
.empty-value-error {
  border: 2px solid #f60a0a;
  -webkit-box-shadow: inset 0 0 10px 5px rgba(246, 10, 10, 0.3);
  box-shadow: inset 0 0 10px 5px rgba(246, 10, 10, 0.3);
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 25px;
  height: 25px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: #ffffff;
}
.modal-close::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 3px;
  width: 20px;
  height: 3px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-close::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 3px;
  width: 20px;
  height: 3px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal-close:hover::before {
  background-color: #bdb6b6;
}
.modal-close:hover::after {
  background-color: #bdb6b6;
}
.modal-close:focus::before {
  background-color: #bdb6b6;
}
.modal-close:focus::after {
  background-color: #bdb6b6;
}
.modal-close:active::before {
  background-color: #f51b1b;
}
.modal-close:active::after {
  background-color: #f51b1b;
}
.feedback-form {
  width: 360px;
  margin: 0 auto;
}
.feedback-form .button {
  display: block;
  margin: 0;
  margin-top: 40px;
  margin-left: 50px;
  border: 0;
  background: #ffffff;
}
.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}
.modal-thank-you {
  display: none;
  position: relative;
  min-width: 560px;
  min-height: 150px;
  padding: 50px 80px;
  position: fixed;
  top: -webkit-calc(50% - 150px/2);
  top: calc(50% - 150px/2);
  left: -webkit-calc(50% - 560px/2);
  left: calc(50% - 560px/2);
  color: #000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  -webkit-animation: myopacity 1s;
  animation: myopacity 1s;
}
.modal-project {
  display: none;
  position: relative;
  min-width: 660px;
  min-height: 450px;
  padding: 50px 80px;
  position: fixed;
  top: -webkit-calc(50% - 450px/2);
  top: calc(50% - 450px/2);
  left: -webkit-calc(50% - 660px/2);
  left: calc(50% - 660px/2);
  color: #000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 5px 10px 5px rgba(41, 52, 73, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  -webkit-animation: myopacity 1s;
  animation: myopacity 1s;
}
.modal-visible {
  display: block;
}
.modal-visible .overlay {
  display: block;
}
.about-me {
  padding-left: 100px;
  padding-right: 15px;
  margin-top: 190px;
  margin-bottom: 125px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.about-me .cool {
  width: 1200px;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-me .cool-text {
  width: 345px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-me .cool-text-1 {
  margin-left: -100px;
  -webkit-animation: animBackground 30s infinite linear;
  animation: animBackground 30s infinite linear;
}
.about-me .cool-text-2 {
  -webkit-animation: animBack 30s infinite linear;
  animation: animBack 30s infinite linear;
}
.about-me .main-about-me {
  position: relative;
  width: 670px;
}
.about-me .main-about-me h2 {
  position: absolute;
  top: 250px;
  left: -210px;
  font-size: 40px;
  font-family: Muller, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.about-me .main-about-me .Jobs {
  width: 590px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about-me .main-about-me .Jobs .Jobs-cart p {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 32px 0px rgba(49, 58, 73, 0.16);
  box-shadow: 0px 10px 32px 0px rgba(49, 58, 73, 0.16);
}
.about-me .main-about-me .Jobs .Jobs-cart p:hover,
.about-me .main-about-me .Jobs .Jobs-cart p:focus {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 5px 10px 10px rgba(52, 59, 71, 0.16);
  box-shadow: 0px 5px 10px 10px rgba(52, 59, 71, 0.16);
}
.about-me .main-about-me .Jobs h3 {
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.about-me .main-about-me .Jobs h3::after {
  content: "";
  position: absolute;
  top: 100px;
  left: -30px;
  width: 10px;
  height: 107px;
  background: url(../img/line.svg) 0 0 no-repeat;
}
.about-me .main-about-me .Jobs .jobs-banners {
  width: 277px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about-me .main-about-me .Jobs .jobs-banners .banners li {
  margin-bottom: 45px;
}
.about-me .main-about-me .Jobs .jobs-banners .banners li p {
  width: 277px;
  height: 194px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FEFEFE;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 10px 32px 0px rgba(49, 58, 73, 0.16);
  box-shadow: 0px 10px 32px 0px rgba(49, 58, 73, 0.16);
}
.about-me .main-about-me .Jobs .jobs-banners .banners li p:hover,
.about-me .main-about-me .Jobs .jobs-banners .banners li p:focus {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 5px 10px 10px rgba(52, 59, 71, 0.16);
  box-shadow: 0px 5px 10px 10px rgba(52, 59, 71, 0.16);
}
.about-me .main-about-me .Jobs .jobs-banners .banners li:nth-child(2) {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-me .main-about-me .Jobs .jobs-banners .pagination-list {
  padding-left: 200px;
}
.about-me .main-about-me .Jobs .jobs-banners .pagination-list li {
  position: relative;
}
.about-me .main-about-me .Jobs .jobs-banners .pagination-list li a {
  display: block;
  width: 85px;
  padding-left: 40px;
}
.about-me .main-about-me .Jobs .jobs-banners .pagination-list li p {
  position: absolute;
  font-size: 11px;
  top: -5px;
  right: 20px;
  text-transform: lowercase;
}
.about-me .main-about-me .Jobs .jobs-banners .pagination-list .pagination-item-current a {
  padding-left: 0;
}
.about-me .main-about-me .Jobs .jobs-banners .pagination-list .pagination-item-current p {
  top: 10px;
  right: 15px;
}
.about-me .review {
  width: 460px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about-me .review .review-item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-me .review .review-item .review-name {
  margin-left: 20px;
}
.about-me .review .review-item .review-name p {
  font-size: 12px;
  line-height: 19px;
  font-weight: 700;
}
.about-me .review .review-item .review-name span {
  font-size: 12px;
  line-height: 19px;
}
.about-me .review blockquote {
  margin-bottom: 75px;
  font-size: 11px;
  line-height: 16px;
}
.about-me .review h3 {
  text-align: right;
  margin-bottom: 0;
  padding-left: 145px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-me .review .button-socials {
  margin-left: 300px;
  width: 150px;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.main-bottom {
  position: relative;
}
.main-bottom h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-family: Muller, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.main-bottom .cite {
  width: 510px;
}
.main-bottom .feedback-form {
  width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-bottom .feedback-form .feedback-item {
  width: 295px;
}
.main-bottom .feedback-form .feedback {
  margin-right: 180px;
}
.main-bottom .feedback-form .feedback .button {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0);
}
.main-bottom .feedback-form .feedback .feedback-checkbox {
  margin-left: 15px;
}
.main-bottom .charter {
  position: absolute;
  top: 100px;
  right: 50px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-bottom .charter::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 100px;
  width: 10px;
  height: 107px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url(../img/line.svg) 0 0 no-repeat;
}
.main-footer {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
}
.main-footer .copyright {
  padding-top: 20px;
}
.main-footer .contacts {
  margin-right: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-footer .contacts .button-socials {
  width: 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.main-footer .contacts .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-footer .contacts .contact a {
  text-decoration: none;
  color: #333333;
}
